* { font-family: "Microsoft YaHei", Arial; color: #666; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: subpixel-antialiased; font-smoothing: subpixel-antialiased; text-decoration: none; margin: 0; border: 0; padding: 0; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }

input, select, textarea { -moz-user-select: auto; -ms-user-select: auto; -webkit-user-select: auto; user-select: auto; }

.cf { *zoom: 1; }
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }

html, body { height: 100%; }

.user { /* avatar sec */ /* banner section */ /* main body */ /* sections under main body */ /* bankcards list section*/ /* bankcard single item */ /* normal and hollowed button with ab_bottom to locate at the bottom of the page*/ }
.user_avatar { width: 25%; margin: 0 auto; padding: 10px 0; }
.user_avatar .pure-img { border: 2px solid #fff; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.user_avatar h3 { font-weight: normal; }
.user_banner { background: url('../img/banner_bg.jpg?1437354571') no-repeat 0 0; background-size: 100% auto; height: 30%; position: relative; /* param list */ }
.user_banner ul { position: absolute; bottom: 0; width: 100%; height: 30%; background: rgba(0, 0, 0, 0.5); color: #fff; }
.user_banner ul li { width: 25%; float: left; list-style: none; }
.user_main { text-align: center; width: 100%; background: #ddd; height: 70%; padding: 5% 0; }
.user_sec { text-align: left; width: 90%; background: #fff; margin: 0 auto 5%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.user_sec div { border-top: 1px solid #ddd; color: #666; }
.user_sec div:first-child { border-top: none; }
.user_sec div span { color: #ddd; }
.user_sec div span em { color: #fe8f86; }
.user_main_cards { padding: 10px 0; height: 100%; }
.user .user_card, .user .user_card_add { width: 95%; height: 60px; margin: 5px auto; padding: 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.user_card { position: relative; color: #fff; }
.user_card button { position: absolute; right: 5px; bottom: 10px; border: 1px solid #fff; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.user_card button.active { background: #ddd; }
.user_card_add { color: #0d8fdb; text-align: center; border: 1px solid #333; }
.user_main_btn { background: #0d8fdb; border: 2px solid #0d8fdb; padding: 0; color: #fff; height: 36px; line-height: 32px; display: block; width: 84%; border-radius: 5px; margin: 0 auto 12px; }
.user_main_btn_hollow { background: #fff; color: #0d8fdb; }
.user_main_btn.ab_bottom { position: absolute; bottom: 1.3em; left: 0; width: 88%; margin: 0 6%; }
