@charset "UTF-8";
* { font-family: "Microsoft YaHei", Arial; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: subpixel-antialiased; font-smoothing: subpixel-antialiased; text-decoration: none; margin: 0; border: 0; padding: 0; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }

input, select, textarea { -moz-user-select: auto; -ms-user-select: auto; -webkit-user-select: auto; user-select: auto; }

a, a:visited, a:hover, a:active { color: inherit; text-decoration: none; }

.cf { *zoom: 1; }
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }

html, body { height: 100%; }

.bg_gray { background: #f4f4f4; }

/* header progress */
.header_progress { width: 84%; height: 50px; margin: 20px auto 0; position: relative; }

.progress_2 .progress_item:nth-child(2) { color: #44bbdb; }
.progress_2 .progress_item:nth-child(2) span { background: #44bbdb; }
.progress_3 .progress_item:nth-child(2), .progress_3 .progress_item:nth-child(3) { color: #44bbdb; }
.progress_3 .progress_item:nth-child(2) span, .progress_3 .progress_item:nth-child(3) span { background: #44bbdb; }
.progress_4 .progress_item:nth-child(2), .progress_4 .progress_item:nth-child(3), .progress_4 .progress_item:nth-child(4) { color: #44bbdb; }
.progress_4 .progress_item:nth-child(2) span, .progress_4 .progress_item:nth-child(3) span, .progress_4 .progress_item:nth-child(4) span { background: #44bbdb; }
.progress_bar { width: 98%; height: 6px; background-color: #eee; position: absolute; top: 16px; border-radius: 4px; left: 1px; z-index: 1; }
.progress_bar_current { position: absolute; left: 0; top: 0; display: block; background-color: #44bbdb; height: 100%; }
.progress_list { list-style: none; position: relative; z-index: 9; }
.progress_item { width: 38px; height: 50px; float: left; font-size: 0.58rem; color: #eee; }
.progress_item:first-child { margin: 0 !important; color: #44bbdb; }
.progress_item:first-child span { background: #44bbdb; }
.progress_item span { display: block; font-size: 1rem; background: #eee; color: #fff; width: 38px; height: 38px; line-height: 38px; text-align: center; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; margin-bottom: 5px; }

.user { /* avatar sec */ /* banner section */ /* main body */ /* activity history sections under main body */ /* sections under main body */ /* bankcards list section*/ /* bankcard single item */ /* normal and hollowed button with ab_bottom to locate at the bottom of the page*/ /* credit page */ /* task page */ /* coupon page */ }
.user_avatar { width: 25%; margin: 0 auto; padding: 10px 0; color: #fff; }
.user_avatar .pure-img { border: 2px solid #fff; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.user_avatar h3, .user_avatar p { font-weight: normal; text-align: center; width: 200%; margin-left: -50%; }
.user_avatar h3 { margin-top: 2%; font-size: .95em; }
.user_avatar p { font-size: .75em; }
.user_banner { background: url('../img/banner_bg.jpg?1436874808') no-repeat 0 0; background-size: 100% 100%; height: 33%; min-height: 187px; position: relative; color: #fff; /* finance page */ /* invite page */ /* param list */ /* dashi logo */ }
.finance_banner { height: 230px; margin-bottom: 5%; }
.finance_banner_title { padding: 20px 5%; height: 110px; background: #20aff4; font-size: .95em; color: #fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.finance_banner_title div { width: 45%; display: inline-block; }
.finance_banner_title div:nth-child(2) { text-align: right; }
.finance_banner_title div.finance_banner_tal { width: auto; text-align: left; }
.auto_toggle { vertical-align: top; text-align: right; }
.auto_toggle .finance_banner_tac { width: auto; text-align: center; }
.auto_toggle .finance_banner_tac div { width: 56px; height: 18px; display: block; background: #20aff4; margin: 0 auto; position: relative; -moz-box-shadow: 0px 0px 5px #d4d3d3 inset; -webkit-box-shadow: 0px 0px 5px #d4d3d3 inset; box-shadow: 0px 0px 5px #d4d3d3 inset; }
.auto_toggle .finance_banner_tac div.disabled { background: #fff; }
.auto_toggle .finance_banner_tac div.disabled i { left: 0; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; }
.auto_toggle .finance_banner_tac div i { width: 50%; height: 18px; background: #d4d3d3; display: block; position: absolute; top: 0; left: 28px; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; }
.finance_banner_title span { font-size: 2.65em; display: block; line-height: 65px; }
.finance_banner_cell { color: #666; padding: 8px 5%; background: #fff; height: 60px; font-size: .7em; border-bottom: 1px solid #f4f4f4; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.finance_banner_cell div { width: 45%; display: inline-block; }
.finance_banner_cell span { font-size: 1.5em; display: block; color: #333; line-height: 35px; }
.user_banner_invite { background: #fd9c35 url('../img/invite_banner1.jpg?1438407637') no-repeat center 10px; background-size: 245px auto; height: 197px; padding-top: 156px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transition: all 1s; -o-transition: all 1s; -webkit-transition: all 1s; transition: all 1s; }
.user_banner_invite_blue { background: #22aff6 url('../img/invite_banner2.jpg?1438410697') no-repeat center 10px; background-size: 245px auto; -moz-transition: all 1s; -o-transition: all 1s; -webkit-transition: all 1s; transition: all 1s; }
.user_banner_invite img { margin: 0 auto; display: block; }
.invite_code { width: 96.5px; height: 25px; line-height: 25px; margin: 0 auto; background: url('../img/invite_bg.png?1438421176') no-repeat center; background-size: 100% auto; text-align: center; }
.invite_code, .invite_record { font-size: .825em; color: #a3a3a3; }
.invite_code span { color: #ff7159; font-weight: bold; }
.invite_btn_l, .invite_btn_r { width: 43.75%; height: 76px; line-height: 76px; color: #fff; font-size: 1.2em; margin: 5% 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transition: width 0.5s; -o-transition: width 0.5s; -webkit-transition: width 0.5s; transition: width 0.5s; }
.invite_btn_l:active, .invite_btn_r:active { width: 48%; }
.invite_btn_l { -moz-border-radius-topright: 36px; -webkit-border-top-right-radius: 36px; border-top-right-radius: 36px; -moz-border-radius-bottomright: 36px; -webkit-border-bottom-right-radius: 36px; border-bottom-right-radius: 36px; float: left; background: #fd9c35; }
.invite_btn_r { -moz-border-radius-topleft: 36px; -webkit-border-top-left-radius: 36px; border-top-left-radius: 36px; -moz-border-radius-bottomleft: 36px; -webkit-border-bottom-left-radius: 36px; border-bottom-left-radius: 36px; float: right; background: #22aff6; }
.invite_record { margin-bottom: 60px; }
.invite_record dt { color: #0d8fdb; vertical-align: top; margin-top: 10px; }
.user_banner > label, .user_banner > h2 { padding: 14px 0 0 20px; display: block; }
.user_banner > label { font-size: .8em; }
.user_banner > h2 { font-size: 2em; font-weight: lighter; line-height: 1em; }
.user_banner ul { position: absolute; bottom: 0; width: 100%; height: 30%; background: rgba(0, 0, 0, 0.2); /* account in usr center */ }
.user_banner ul.pure-g { background: none; height: 40px; bottom: 12px; }
.user_banner ul li { width: 25%; height: 100%; float: left; list-style: none; background-repeat: no-repeat; background-position: center 20%; background-size: auto 40%; vertical-align: bottom; text-align: center; font-size: .8em; padding-top: 10%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; /* account in usr center */ }
.param-basic { background-image: url('../img/icon1.png?1436876037'); }
.param-vip { background-image: url('../img/icon2.png?1436876066'); }
.param-privilege { background-image: url('../img/icon3.png?1436876098'); }
.param-activity { background-image: url('../img/icon4.png?1436876139'); }
.user_banner ul li.pure-u-13-24, .user_banner ul li.pure-u-11-24 { padding: 0 0 0 20px; text-align: left; }
.user_banner ul li.pure-u-13-24 p, .user_banner ul li.pure-u-11-24 p { position: absolute; bottom: 0; }
.user_banner ul li.pure-u-13-24 { width: 54.1667%; }
.user_banner ul li.pure-u-11-24 { width: 45.8333%; border-left: 1px solid rgba(255, 255, 255, 0.3); }
.promote_logo { height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; padding: 5% 0; }
.promote_logo img { height: 100%; width: auto; display: block; margin: 0 auto; }
.user_main { text-align: center; width: 100%; background: #f4f4f4; height: 67%; min-height: 360px; padding: 5% 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; }
.user_main nav { margin-top: -5%; height: 42px; line-height: 42px; background: #fff; color: #999; }
.user_main nav li.active { color: #0d8fdb; }
.user_main nav li.active span { color: #fe8f86; }
.user_main .pure-table-horizontal { border-top: none; width: 100%; font-size: 0.7em; color: #666; }
.user_main .pure-table-horizontal td { width: 33.3333%; }
.user_main .pure-table-horizontal span { color: #ddd; display: block; }
.user_about { height: 100%; }
.user_reset { height: auto; min-height: inherit; padding: 0; }
.user_task { min-height: 440px; }
.user_blank { min-height: 440px; background: #fff; }
.user_history { font-size: .9em; text-align: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1.5%; width: 92%; -moz-box-shadow: 0px 0px 3px #666; -webkit-box-shadow: 0px 0px 3px #666; box-shadow: 0px 0px 3px #666; margin: 0 auto 3%; color: #666; }
.user_history p { margin-top: 1.5%; }
.user_sec { font-size: .9em; text-align: left; width: 88%; background: #fff; margin: 0 auto 5%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.user_sec div { border-top: 1px solid #f4f4f4; color: #666; height: 36px; line-height: 36px; padding: 0px 10px; font-size: .95em; position: relative; background: url('../img/right_arrow.jpg?1438010328') no-repeat 95% center; background-size: auto 40%; }
.user_sec div:first-child { border-top: none; }
.user_sec div i { height: 36px; width: 30px; background-repeat: no-repeat; background-position: 0 center; background-size: auto 60%; display: inline-block; vertical-align: top; /* &:after { content: ">"; font-style: normal; font-family: "simsun"; color: #ddd; position: absolute; right: 8px;
} */ }
.icon-finance { background-image: url('../img/icon8.png?1436876483'); }
.icon-loan { background-image: url('../img/icon9.png?1436876515'); }
.icon-card { background-image: url('../img/icon5.png?1436876200'); }
.icon-parameter { background-image: url('../img/icon6.png?1436876240'); }
.icon-setting { background-image: url('../img/icon7.png?1436876263'); }
.icon-about { background-image: url('../img/icon10.png?1436876541'); }
.icon-aboutmsd { background-image: url('../img/icon-aboutmsd.jpg?1438007043'); }
.icon-service { background-image: url('../img/icon-service.jpg?1438006975'); }
.icon-advice { background-image: url('../img/icon-advice.jpg?1438006910'); }
.icon-faq { background-image: url('../img/icon-faq.jpg?1438006792'); }
.icon-history { background-image: url('../img/icon-history.jpg?1438006696'); }
.icon-finance { background-image: url('../img/icon-finance.jpg?1438422794'); }
.icon-profit { background-image: url('../img/icon-profit.jpg?1438422795'); }
.icon-detail { background-image: url('../img/icon-detail.jpg?1438422795'); }
.user_sec div span { color: #ddd; padding-left: 20%; font-size: .8em; }
.user_sec div span em { color: #fe8f86; font-style: normal; }
.user_sec div label { color: #ddd; }
.user_sec div p { display: inline; padding-left: 20px; }
.user_main_cards { padding: 10px 0; height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.user_card, .user_card_add, .user_card_tip { width: 92%; height: 65px; margin: 5px auto 12px; padding: 5px 8px; font-size: 0.8em; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.user_card { position: relative; color: #fff; background: #f55f60 url('../img/bankcard_bg1.jpg?1437874985') no-repeat 0 0; background-size: 100% auto; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.user_card i { height: 28px; width: 28px; margin-right: 3px; background-repeat: no-repeat; background-position: 0 center; background-size: 100% auto; display: inline-block; vertical-align: middle; }
.bank-zs { background-image: url('../img/bankcard_logo.jpg?1437891155'); }
.user_card_series { position: absolute; left: 8px; top: 36px; }
.user_card button { position: absolute; right: 8px; top: 36px; border: 1px solid #fff; background: transparent; width: 46px; height: 20px; line-height: 20px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.user_card button.option1 { top: 10px; right: 63px; }
.user_card button.option2 { top: 10px; }
.user_card button.active { background: rgba(255, 255, 255, 0.4); }
.user_card_add { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; color: #24aff6; text-align: center; border: 1px dashed #333; line-height: 53px; font-weight: bold; }
.user_card_add span { font-size: 2em; vertical-align: top; height: 53px; display: inline-block; line-height: 53px; }
.user_card_tip { padding: 5px 0; }
.user_main_btn { background: #0d8fdb; border: 2px solid #0d8fdb; padding: 0; color: #fff; height: 36px; line-height: 32px; display: block; width: 84%; border-radius: 5px; margin: 0 auto 12px; }
.user_main_btn:hover { color: #fff; }
.user_main_btn_hollow { background: #fff; color: #0d8fdb; }
.user_main_btn_hollow:hover { color: #0d8fdb; }
.user_main_btn.ab_bottom { position: absolute; bottom: 1.3em; left: 0; width: 88%; margin: 0 6%; }
.credit_item { position: relative; width: 84%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #666; text-align: left; text-indent: 1em; margin: 0 auto 2%; font-size: .75em; border: 2px solid #b8e5ff; height: 32px; line-height: 32px; }
.credit_item_title { background: #b8e5ff; color: #fff; font-size: .85em; background: #b8e5ff; margin-top: 5%; }
.credit_item_title:first-of-type { margin-top: 0; }
.credit_item_title span.flr { color: #fff; }
.credit_item:last-of-type { margin-bottom: 10%; }
.credit_item_select { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; }
.credit_item_icon { height: 26px; vertical-align: middle; }
.credit_item_btn { width: 44px; height: 20px; line-height: 20px; background: #b8e5ff; color: #fff; margin-left: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.credit_item .flr { color: #b8e5ff; float: right; margin-right: 1em; }
.credit_item .flr img { width: 18px; vertical-align: middle; }
.task_nav { height: 34px; line-height: 34px; text-align: center; }
.task_nav li { background: #fff; color: #09b2fe; border: 1px solid #09b2fe; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; z-index: 999; text-shadow: 1px 1px 1px #666; font-size: .9em; }
.task_nav li.active { background: #09b2fe; color: #fff; }
.task_item { position: relative; width: 84%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; text-align: left; text-indent: 1em; margin: 0 auto 5%; font-size: .9em; }
.task_item:last-of-type { margin-bottom: 20%; }
.task_item.active .task_title { background: #0d8fdb; }
.task_item.active .task_cnt { padding: 1em; max-height: 400px; transition: all .5s linear; }
.task_title { position: relative; z-index: 9; background: #b8e5ff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; height: 36px; line-height: 36px; text-shadow: 1px 1px 1px #666; }
.task_title .task_btn { float: right; margin-right: 1em; display: inline-block; background: #fff; height: 20px; line-height: 20px; margin-top: 8px; text-align: center; width: 50px; text-indent: 0; border-radius: 12px; box-shadow: 1px 1px 1px #666; color: #0d8fdb; }
.task_title .task_btn:active { color: #fff; background: #0d8fdb; }
.task_stars { display: inline-block; height: 20px; margin-top: 2px; float: right; margin-right: 1em; }
.task_stars i { display: inline-block; width: 12px; height: 16px; margin: 0 1px; background: url('../img/task_star.png?1438614260') no-repeat center; background-size: contain; }
.task_cnt { text-indent: 0; font-size: .8em; background: #fff; border: 1px solid #0d8fdb; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: -36px; padding: 0 1em; max-height: 0; overflow-y: hidden; width: 100%; transition: all .5s linear; }
.task_cnt label { display: block; color: #44bbdb; margin: 2px 0; }
.task_cnt p { color: #666; }
.task_bonus { display: inline-block; width: 38px; height: 50px; margin-right: 5px; color: #666; font-size: .82em; text-align: center; }
.task_bonus_img { width: 36px; height: 36px; border: 1px solid #44bbdb; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; text-align: center; }
.task_bonus_img img { height: 90%; width: auto; margin: 5%; }
.coupon_nav { height: 36px; line-height: 36px; text-align: center; color: #fff; }
.coupon_nav li { background: #c0edff; }
.coupon_nav li.active { background: #09b2fe; }
.coupon { width: 93.75%; height: 80px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 6px; background: #7bd6fe; background-image: url('../img/coupon_left.jpg?1438443161'), url('../img/coupon_right.jpg?1438443161'); background-repeat: no-repeat, no-repeat; background-position: top left, top right; background-size: auto 100%; margin: 0 auto 5%; color: #fff; text-align: center; }
.coupon h3 { display: inline-block; width: 13.33%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #fff; line-height: 20.666px; font-weight: normal; float: left; padding: 3px 0; letter-spacing: 6px; }
.coupon h2 { font-weight: normal; font-size: 2.25em; width: 80%; float: right; margin-right: 3%; border-bottom: 1px solid #fff; }
.coupon p { font-size: .65em; width: 86.67%; float: right; height: 20px; line-height: 20px; }
.user_coupon { background: #fff; display: none; }
.user_coupon_used .coupon { position: relative; background: #5697b2; background-image: url('../img/coupon_left_used.jpg?1438498996'), url('../img/coupon_right_used.jpg?1438498997'); background-repeat: no-repeat, no-repeat; background-position: top left, top right; background-size: auto 100%; color: #b2b2b2; }
.user_coupon_used .coupon h2, .user_coupon_used .coupon h3 { border-color: #b2b2b2; }
.user_coupon_used .coupon:after { content: "已过期"; color: #fff; font-size: 2.5em; -moz-transform: rotateZ(-15deg); -ms-transform: rotateZ(-15deg); -webkit-transform: rotateZ(-15deg); transform: rotateZ(-15deg); width: 100%; height: 80px; line-height: 80px; position: absolute; top: 0; left: 0; }

/* triangle */
.triangle-up { width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 16px solid #0d8fdb; }

.triangle-down { display: inline-block; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 16px solid #0d8fdb; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; -webkit-transition: all 0.5s linear; transition: all 0.5s linear; }
.triangle-down.rotate { -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; -moz-transform: rotateZ(-180deg); -ms-transform: rotateZ(-180deg); -webkit-transform: rotateZ(-180deg); transform: rotateZ(-180deg); }
