.banner_bg {
  opacity: 1;
}

.fragment_bg {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.fragment-0 {
  left: 596px;
  top: 125px;
}
.fragment-1 {
  left: 155px;
  top: 175px;
}
.fragment-2 {
  left: 167px;
  top: 183px;
}
.fragment-3 {
  left: 804px;
  top: 475px;
}
.fragment-4 {
  left: 619px;
  top: 475px;
}
.fragment-5 {
  left: 402px;
  top: 472px;
}
.fragment-6 {
  left: 480px;
  top: 301px;
}
.fragment-7 {
  left: 402px;
  top: 460px;
}
.fragment-8 {
  left: 253px;
  top: 373px;
}
.fragment-9 {
  left: 153px;
  top: 229px;
}
.fragment-10 {
  left: 134px;
  top: 298px;
}
.fragment-11 {
  left: 315px;
  top: 183px;
}
.fragment-12 {
  left: 619px;
  top: 310px;
}
.fragment-13 {
  left: 709px;
  top: 255px;
}
.fragment-14 {
  left: 10px;
  top: 344px;
}
.fragment-15 {
  left: 87px;
  top: 420px;
}
.fragment-16 {
  left: 543px;
  top: 223px;
}