@font-face { font-family: "Pixel Font"; src: url('../fonts/XPDR_02.ttf?1008550186') format('truetype'); }
html {
    height: 100%;
}

* {
    font-family: "Microsoft YaHei", "Arial";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

body {
    height: 100%;
    position: relative;
    z-index: -1;
}

.slide {
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.slide:after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 50%;
}

.slide ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide li {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* 解决js阻塞页面显示首屏 */

.slide li:first-child {
    z-index: 0;
}

.slide li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.slide .dot {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 0;
}

.slide .dot span {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.slide .dot .cur {
    background-color: #fff;
}

#marquee0 {
    position: relative;
    z-index: 9999;
    margin-top: -22px;
    overflow: hidden;
    width: 100%;
    float: left;
    display: inline;
    height: 22px;
    background: #000;
    opacity: .5;
}

#marquee0 ul {
    text-align: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#marquee0 ul li {
    display: block;
    font-size: .8rem;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #fff;
}

#marquee0 ul li span,
#marquee0 ul li time
 {
    font-size: .8rem;
}

.msd_entrance {
    background: #fff;
}

.msd_entrance>div {
    height: 33.33%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.msd_entrance>div:first-child {
    border-top: 3px solid #fff;
    border-right: 2px solid #fff;
    background: #fd9c35;
}
.msd_entrance>div:nth-child(2) {
    border-top: 3px solid #fff;
    border-left: 2px solid #fff;
    background: #22aff6;
}


.msd_entrance_wrap {
    position: relative;
    top: 50%;
    height: 60%;
}

.msd_entrance_inner {
    box-sizing: border-box;
    background: #fff no-repeat center top;
    background-size: auto 50%;
    padding-top: 28%;
    font-size: 1.15em;
    color: #757575;
    text-align: center;
    position: relative;
    top: -50%;
    height: 100%;
}

.msd_entrance_inner[data-img="马上理财"] {
    background-image: url(../img/cai.jpg);
    background-color: #fd9c35;
    color: #fff;
}

.msd_entrance_inner[data-img="马上借款"] {
    background-image: url(../img/jie.jpg);
    background-color: #22aff6;
    color: #fff;
}

.msd_entrance_inner[data-img="任务中心"] {
    background-image: url(../img/task.jpg);
}

.msd_entrance_inner[data-img="个人中心"] {
    background-image: url(../img/account.jpg);
}

.msd_entrance_inner[data-img="银联"] {
    background-image: url(../img/union_pay.jpg);
    background-position-y: 65%;
    background-size: auto 30%;
}

.msd_entrance_inner span {
    display: block;
    font-size: 0.65em;
    font-weight: lighter;
}

.msd_entrance_inner em {
    font-style: normal;
    color: #ff3333;
}
/* 马壕总动员 */
.slide_banner_img{
    top: -24px !important;
}
.count_down{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    height: 42px;
    line-height: 42px;
    font-size: .9em;
    padding: 0 14px;
    color: #fff;
    background: #ffc887;
    width: 100%;
}
.count_down div{
    float: right;
}
.pixel_time{
    font-family: "Pixel Font";
    letter-spacing: 1.4px;
    font-size: .95em;
    color: #ff5255;
}
.rank_table{
    border: none;
}
.rank_table th,
.rank_table td{
    border: none;
    height: 42px;
    padding: 0;
    text-align: center;
    font-weight: normal;
    color:#666;
    vertical-align: middle;
}
.rank_table th{
    background: #fcf2e6;
    font-size: .8em;
}
.rank_table td{
    font-size: .775em;
}
.pure-table-odd td{
    background: #f4f4f4;
}
.pure-table-highlight td{
    color: #ff5255;
}
.pure-table-highlight span{
    display: block;
    font-size: .75em;
    height: 14px;
    line-height: 14px;
    color: #999;
}

@media screen and (max-height: 500px) {
    /*当屏幕高度小于500px时，应用下面的CSS样式*/
    
    body {
        font-size: 14px;
    }
    .msd_entrance_inner {
        padding-top: 22%;
    }
}

  @media screen and (min-width: 360px) {
     body{
        font-size:19px;
    }
  }

@media screen and (min-width: 560px) and (orientation: landscape) {
    body{
        font-size:20px;
    }
}
