html,
body {
    height: 100%;
}

* {
    font: normal 16px/24px "Microsoft YaHei", Arial;
    color: #eae2df;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding: 0;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.cf {
    *zoom: 1;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body {
    max-width: 640px;
    margin: 0 auto;
    background: #ff7159;
}

.qr_logo {
    position: absolute;
    top: .5%;
    left: 1%;
    width: 25%;
    height: auto;
    display: block
}

.qr2 {
    background: #43b1c8;
}

.qr_banner1 img {
    max-width: 100%;
    height: auto;
    display: block
}

.qr_banner2 {
    height: 55%;
    padding: 7% 0 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.qr_banner2 img:first-child {
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block
}

.qr1_main {
    background: #2d3e50;
    text-align: center;
}

.qr2_main {
    text-align: center;
}

.qr_section {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 2% 5% 8%;
    width: 50%;
    display: inline-block;
    height: 100%;
}

.qr1_main .qr_section:first-child {
    padding-left: 7%;
    padding-right: 3%;
}

.qr1_main .qr_section:nth-child(2) {
    padding-right: 7%;
    padding-left: 3%;
}

.qr2_main .qr_section img {
    height: 80%;
}

.qr_section p {
    font-size: .8em;
}

.qr_section span {
    color: #ff7159;
    font-weight: bold;
}

.fl {
    float: left;
}

.qr1_footer {
    height: 32%;
    background: #ff7159;
}

.qr1_footer img {
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block
}

.qr2_footer {
    height: 21%;
    text-align: center;
}
.qr2_footer .qr_section{
    width: 70%;
}
.qr2_footer img {
    height: 100%;
    width: auto;
    margin: -6% auto 0;
    display: block
}

.qr2_main {
    height: 24%;
}

  @media screen and (min-width: 360px) {
     *{
        font-size:19px;
    }
  }

@media screen and (min-width: 560px) and (orientation: landscape) {
    *{
        font-size:28px;
        line-height: 42px;
    }
    .qr1_main{
        height: 100%;
    }.qr_banner2{
        height: 120%;
    }
    .qr2_main,.qr2_footer{
        height:80%;
    }
    .qr1_footer img {
        height: auto;
        width: 88%;
    }
}
