@charset "utf-8";
///*init*/
$font_color: #666;
$btn_blue: #0d8fdb;
$btn_liteblue: #44bbdb;
$font_red: #fe8f86;
@import "compass/css3";
@import "compass";
//import pixeled font face
//@include font-face("Pixel Font", font-files("XPDR_02.ttf"));
* {
    font-family: "Microsoft YaHei", Arial;
    color: $font_color;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding: 0;
    @include user-select(none);
}

input,
select,
textarea {
    @include user-select(auto);
}

//clear fix
.cf {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}


//body{
//background: url(../img/xxx.jpg) no-repeat center -65px;
//background-size: 100% auto;
//}
html,
body {
    height: 100%;
}

.user {
    /* avatar sec */
    &_avatar{
        width: 25%;
        margin:0 auto;
        padding: 10px 0;
        .pure-img{
            border: 2px solid #fff;
            @include border-radius(50%);
        }
        h3{
            font-weight: normal;
        }
    }
    /* banner section */
    &_banner {
        background: image-url("banner_bg.jpg") no-repeat 0 0;
        background-size: 100% auto;
        height: 30%;
        position: relative;

        /* param list */
        ul {
            position: absolute;
            bottom: 0;
            width: 100%;
            height:30%;
            background: rgba(0,0,0,0.5);
            color:#fff;
            li{
                width: 25%;
                float: left;
                list-style: none;
            }
        }
    }
    /* main body */
    &_main {
        text-align: center;
        width: 100%;
        background: #ddd;
        height:70%;
        padding: 5% 0;
    }
    /* sections under main body */
    &_sec {
        text-align: left;
        width: 90%;
        background: #fff;
        margin: 0 auto 5%;
        @include border-radius(5px);
        div{
            border-top: 1px solid #ddd;
            color: #666;
            &:first-child{
                border-top:none;
            }
            span{
                color:#ddd;
                em{
                    color: $font_red;
                }
            }
        }
    }
    /* bankcards list section*/
    &_main_cards{
        padding: 10px 0;
        height:100%;
    }
    /* bankcard single item */
    %card{
        width:95%;
        height:60px;
        margin:5px auto;
        padding: 5px;
        @include border-radius(2px);
        @include box-sizing(border-box);
    }
    &_card{
        @extend %card;
        position: relative;
        color: #fff;
        button{
            position: absolute;
            right:5px;
            bottom:10px;
            border: 1px solid #fff;
            @include border-radius(8px);
            &.option1{
                
            }
            &.option1{

            }
            &.active{
                background: #ddd;
            }
        }
        &_add{
            @extend %card;
            color: $btn_blue;
            text-align: center;
            border: 1px solid #333;
        }

    }
    /* normal and hollowed button with ab_bottom to locate at the bottom of the page*/
    &_main_btn {
        background: $btn_blue;
        border: 2px solid $btn_blue;
        padding: 0;
        color: #fff;
        height: 36px;
        line-height: 32px;
        display: block;
        width: 84%;
        border-radius: 5px;
        margin: 0 auto 12px;
        &_hollow {
            background: #fff;
            color: $btn_blue;
        }
        &.ab_bottom {
            position: absolute;
            bottom: 1.3em;
            left: 0;
            width: 88%;
            margin: 0 6%;
        }
    }
}
