@charset "utf-8";
///*init*/
$font_color: #666;
$btn_blue: #0d8fdb;
$btn_liteblue: #7bd6fe;
$font_red: #fe8f86;
@import "compass/css3";
@import "compass";
//import pixeled font face
//@include font-face("Pixel Font", font-files("XPDR_02.ttf"));
* {
    font-family: "Microsoft YaHei", Arial;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding: 0;
    @include user-select(none);
}

input,
select,
textarea {
    @include user-select(auto);
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

//clear fix
.cf {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

html,
body {
    height: 100%;
}

.bg_gray {
    background: #f4f4f4;
}


/* header progress */

.header_progress {
    width: 84%;
    height: 50px;
    margin: 20px auto 0;
    position: relative;
}

.progress {
    &_2 {
        .progress_item {
            &:nth-child(2) {
                color: $btn_blue;
                span {
                    background: $btn_blue;
                }
            }
        }
    }
    &_3 {
        .progress_item {
            &:nth-child(2),
            &:nth-child(3) {
                color: $btn_blue;
                span {
                    background: $btn_blue;
                }
            }
        }
    }
    &_4 {
        .progress_item {
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                color: $btn_blue;
                span {
                    background: $btn_blue;
                }
            }
        }
    }
    &_bar {
        width: 98%;
        height: 6px;
        background-color: #ccc;
        position: absolute;
        top: 16px;
        border-radius: 4px;
        left: 1px;
        z-index: 1;
        &_current {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            background-color: $btn_blue;
            height: 100%;
        }
    }
    &_list {
        list-style: none;
        position: relative;
        z-index: 9;
    }
    &_item {
        width: 38px;
        height: 50px;
        float: left;
        font-size: 0.58rem;
        color: #ccc;
        &:first-child {
            margin: 0 !important;
            color: $btn_blue;
            span {
                background: $btn_blue;
            }
        }
        span {
            display: block;
            font-size: 1rem;
            background: #ccc;
            color: #fff;
            width: 38px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            @include border-radius(50%);
            margin-bottom: 5px;
        }
    }
}

.user {
    /* avatar sec */
    &_avatar {
        width: 25%;
        margin: 0 auto;
        padding: 10px 0;
        color: #fff;
        .pure-img {
            border: 2px solid #fff;
            @include border-radius(50%);
            @include box-sizing(border-box);
        }
        & h3,
        p {
            font-weight: normal;
            text-align: center;
            width: 200%;
            margin-left: -50%;
        }
        h3 {
            margin-top: 2%;
            font-size: .95em;
        }
        p {
            font-size: .75em;
        }
    }
    /* banner section */
    &_banner {
        background: image-url("banner_bg.jpg") no-repeat 0 0;
        background-size: 100% 100%;
        height: 33%;
        min-height: 187px;
        position: relative;
        color: #fff;
        /* finance page */
        @at-root .finance_banner {
            height: 230px;
            margin-bottom: 5%;
            &_title {
                padding: 20px 5%;
                height: 110px;
                background: $btn_blue;
                font-size: .95em;
                color: #fff;
                @include box-sizing(border-box);
                div {
                    width: 45%;
                    display: inline-block;
                    &:nth-child(2) {
                        text-align: right;
                    }
                    &.finance_banner_tal {
                        width: auto;
                        text-align: left;
                    }
                    @at-root .auto_toggle {
                        vertical-align: top;
                        text-align: right;
                        .finance_banner_tac {
                            width: auto;
                            text-align: center;
                            div {
                                width: 56px;
                                height: 18px;
                                display: block;
                                background: $btn_blue;
                                margin: 0 auto;
                                position: relative;
                                @include box-shadow(0px 0px 5px #d4d3d3 inset);
                                &.disabled {
                                    background: #fff;
                                    i {
                                        left: 0;
                                        @include transition(all .5s);
                                    }
                                }
                                i {
                                    width: 50%;
                                    height: 18px;
                                    background: #d4d3d3;
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 28px;
                                    @include transition(all .5s);
                                }
                            }
                        }
                    }
                }
                span {
                    font-size: 2.65em;
                    display: block;
                    line-height: 65px;
                }
            }
            &_cell {
                color: #666;
                padding: 8px 5%;
                background: #fff;
                height: 60px;
                font-size: .7em;
                border-bottom: 1px solid #f4f4f4;
                @include box-sizing(border-box);
                div {
                    width: 45%;
                    display: inline-block;
                }
                span {
                    font-size: 1.5em;
                    display: block;
                    color: #333;
                    line-height: 35px;
                }
            }
        }
        /* invite page */
        &_invite {
            background: #fd9c35 image-url("invite_banner1.jpg") no-repeat center 10px;
            background-size: 245px auto;
            height: 197px;
            padding-top: 156px;
            @include box-sizing(border-box);
            @include transition(all 1s);
            &_blue {
                background: #22aff6 image-url("invite_banner2.jpg") no-repeat center 10px;
                background-size: 245px auto;
                @include transition(all 1s);
            }
            img {
                margin: 0 auto;
                display: block;
            }
            @at-root .invite_code {
                width: (193px/2);
                height: (50px/2);
                line-height: (50px/2);
                margin: 0 auto;
                background: image-url("invite_bg.png") no-repeat center;
                background-size: 100% auto;
                @at-root %invite-fs {
                    font-size: .825em;
                    color: #a3a3a3;
                }
                @extend %invite-fs;
                text-align: center;
                span {
                    color: #ff7159;
                    font-weight: bold;
                }
            }
            @at-root .invite_btn {
                @at-root %invite_btn {
                    width: 43.75%;
                    height: 76px;
                    line-height: 76px;
                    color: #fff;
                    font-size: 1.2em;
                    margin: 5% 0;
                    @include box-sizing(border-box);
                    @include transition(width .5s);
                    &:active {
                        width: 48%;
                    }
                }
                &_l {
                    @extend %invite_btn;
                    @include border-right-radius(36px);
                    float: left;
                    background: #fd9c35;
                }
                &_r {
                    @extend %invite_btn;
                    @include border-left-radius(36px);
                    float: right;
                    background: #22aff6;
                }
            }
            @at-root .invite_record {
                @extend %invite-fs;
                margin-bottom: 60px;
                dt {
                    color: $btn_blue;
                    vertical-align: top;
                    margin-top: 10px;
                }
            }
        }
        @at-root %labelnh2 {
            padding: 14px 0 0 20px;
            display: block;
        }
        &>label {
            @extend %labelnh2;
            font-size: .8em;
        }
        &>h2 {
            @extend %labelnh2;
            font-size: 2em;
            font-weight: lighter;
            line-height: 1em;
        }
        /* param list */
        ul {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30%;
            background: rgba(0, 0, 0, 0.2);
            /* account in usr center */
            &.pure-g {
                background: none;
                height: 40px;
                bottom: 12px;
            }
            li {
                width: 25%;
                height: 100%;
                float: left;
                list-style: none;
                background-repeat: no-repeat;
                background-position: center 20%;
                background-size: auto 40%;
                vertical-align: bottom;
                text-align: center;
                font-size: .8em;
                padding-top: 10%;
                @include box-sizing(border-box);
                @at-root .param-basic {
                    background-image: image-url("icon1.png");
                }
                @at-root .param-vip {
                    background-image: image-url("icon2.png");
                }
                @at-root .param-privilege {
                    background-image: image-url("icon3.png");
                }
                @at-root .param-activity {
                    background-image: image-url("icon4.png");
                }
                /* account in usr center */
                @at-root %pureinbannerlist {
                    padding: 0 0 0 20px;
                    text-align: left;
                    p {
                        position: absolute;
                        bottom: 0;
                    }
                }
                &.pure-u-13-24 {
                    @extend %pureinbannerlist;
                    width: 54.1667%;
                }
                &.pure-u-11-24 {
                    @extend %pureinbannerlist;
                    width: 45.8333%;
                    border-left: 1px solid rgba(255, 255, 255, 0.3);
                }
            }
        }
        /* dashi logo */
        @at-root .promote_logo {
            height: 100%;
            @include box-sizing(border-box);
            text-align: center;
            padding: 5% 0;
            img {
                height: 100%;
                width: auto;
                display: block;
                margin: 0 auto;
            }
        }
    }
    /* main body */
    &_main {
        text-align: center;
        width: 100%;
        background: #f4f4f4;
        height: 67%;
        min-height: 360px;
        padding: 5% 0;
        @include box-sizing(border-box);
        position: relative;
        nav {
            margin-top: -5%;
            height: 42px;
            line-height: 42px;
            background: #fff;
            color: #999;
            li.active {
                color: $btn_blue;
                span {
                    color: $font_red;
                }
            }
        }
        .pure-table-horizontal {
            border-top: none;
            width: 100%;
            font-size: 0.7em;
            color: #666;
            td {
                width: 33.3333%;
            }
            span {
                color: #ddd;
                display: block;
            }
        }
    }
    &_about {
        height: 100%;
    }
    &_reset {
        height: auto;
        min-height: inherit;
        padding: 0;
        //background: #fff;
    }
    &_task {
        min-height: 440px;
    }
    &_blank {
        min-height: 440px;
        background: #fff;
    }
    &_fixed_bottom {
        padding-bottom: 60px;
    }
    /* activity history sections under main body */
    &_history {
        font-size: .9em;
        text-align: left;
        @include box-sizing(border-box);
        padding: 1.5%;
        width: 92%;
        @include box-shadow(0px 0px 3px #666);
        margin: 0 auto 3%;
        color: #666;
        p {
            margin-top: 1.5%;
        }
    }
    /* sections under main body */
    &_sec {
        font-size: .9em;
        text-align: left;
        width: 88%;
        background: #fff;
        margin: 0 auto 5%;
        @include border-radius(5px);
        em.flr {
            float: right;
            margin-right: 2em;
            color: $font_red;
            font-style: normal;
        }
        div {
            border-top: 1px solid #f4f4f4;
            color: #666;
            height: 36px;
            line-height: 36px;
            padding: 0px 10px;
            font-size: .95em;
            position: relative;
            background: image-url("right_arrow.jpg") no-repeat 95% center;
            background-size: auto 40%;
            &:first-child {
                border-top: none;
            }
            i {
                height: 36px;
                width: 30px;
                background-repeat: no-repeat;
                background-position: 0 center;
                background-size: auto 60%;
                display: inline-block;
                vertical-align: top;
                @at-root .icon-wealth {
                    background-image: image-url("icon8.png");
                }
                @at-root .icon-loan {
                    background-image: image-url("icon9.png");
                }
                @at-root .icon-card {
                    background-image: image-url("icon5.png");
                }
                @at-root .icon-parameter {
                    background-image: image-url("icon6.png");
                }
                @at-root .icon-setting {
                    background-image: image-url("icon7.png");
                }
                @at-root .icon-about {
                    background-image: image-url("icon10.png");
                }
                @at-root .icon-aboutmsd {
                    background-image: image-url("icon-aboutmsd.jpg");
                }
                @at-root .icon-service {
                    background-image: image-url("icon-service.jpg");
                }
                @at-root .icon-advice {
                    background-image: image-url("icon-advice.jpg");
                }
                @at-root .icon-faq {
                    background-image: image-url("icon-faq.jpg");
                }
                @at-root .icon-history {
                    background-image: image-url("icon-history.jpg");
                }
                @at-root .icon-finance {
                    background-image: image-url("icon-finance.jpg");
                }
                @at-root .icon-profit {
                    background-image: image-url("icon-profit.jpg");
                }
                @at-root .icon-detail {
                    background-image: image-url("icon-detail.jpg");
                }
                @at-root .icon-finance-all {
                    background-image: image-url("icon_finance.jpg");
                }
                @at-root .icon-finance-all.active {
                    background-image: image-url("icon_finance_active.jpg");
                }
                @at-root .icon-finance-detail {
                    background-image: image-url("icon_finance_detail.jpg");
                }
                @at-root .icon-medal {
                    background-image: image-url("icon_medal.png");
                    height: 28px !important;
                    width: 18px !important;
                    margin: 0 10px;
                }
                /* &:after {
                    content: ">";
                    font-style: normal;
                    font-family: "simsun";
                    color: #ddd;
                    position: absolute;
                    right: 8px;
                } */
            }
            span {
                color: #ddd;
                padding-left: 20%;
                font-size: .8em;
                em {
                    color: $font_red;
                    font-style: normal;
                }
            }
            label {
                color: #ddd;
            }
            p {
                display: inline;
                padding-left: 20px;
            }
        }
    }
    /* bankcards list section*/
    &_main_cards {
        padding: 10px 0;
        height: 100%;
        @include box-sizing(border-box);
    }
    /* bankcard single item */
    @at-root %card {
        width: 92%;
        height: 65px;
        margin: 5px auto 12px;
        padding: 5px 8px;
        font-size: 0.8em;
        @include border-radius(2px);
        @include box-sizing(border-box);
    }
    &_card {
        @extend %card;
        position: relative;
        color: #fff;
        background: #f55f60 image-url("bankcard_bg1.jpg") no-repeat 0 0;
        background-size: 100% auto;
        @include border-radius(2px);
        i {
            height: 28px;
            width: 28px;
            margin-right: 3px;
            background-repeat: no-repeat;
            background-position: 0 center;
            background-size: 100% auto;
            display: inline-block;
            vertical-align: middle;
        }
        @at-root .bank-zs {
            background-image: image-url("bankcard_logo.jpg");
        }
        &_series {
            position: absolute;
            left: 8px;
            top: 36px;
        }
        button {
            position: absolute;
            right: 8px;
            top: 36px;
            border: 1px solid #fff;
            background: transparent;
            width: 46px;
            height: 20px;
            line-height: 20px;
            @include border-radius(8px);
            &.option1 {
                top: 10px;
                right: 63px;
            }
            &.option2 {
                top: 10px;
            }
            &.active {
                background: rgba(255, 255, 255, 0.4);
            }
        }
        &_add {
            @extend %card;
            @include border-radius(2px);
            color: #24aff6;
            text-align: center;
            border: 1px dashed #333;
            line-height: 53px;
            font-weight: bold;
            span {
                font-size: 2em;
                vertical-align: top;
                height: 53px;
                display: inline-block;
                line-height: 53px;
            }
        }
        &_tip {
            @extend %card;
            padding: 5px 0;
        }
    }
    /* normal and hollowed button with ab_bottom to locate at the bottom of the page*/
    &_main_btn {
        background: $btn_blue;
        border: 2px solid $btn_blue;
        padding: 0;
        color: #fff;
        height: 36px;
        line-height: 32px;
        display: block;
        width: 84%;
        border-radius: 5px;
        margin: 0 auto 12px;
        &:hover {
            color: #fff;
        }
        &_hollow {
            background: #fff;
            color: $btn_blue;
            &:hover {
                color: $btn_blue;
            }
        }
        &.ab_bottom {
            position: absolute;
            bottom: 1.3em;
            left: 0;
            width: 88%;
            margin: 0 6%;
        }
        @at-root .btn_fix_bottom {
            position: fixed;
            height: auto;
            width: 100%;
            bottom: 0;
            background: #fff;
            z-index: 99;
        }
    }
    /* credit page */
    @at-root .credit {
        &_item {
            &_title {
                background: $btn_blue;
                color: #fff;
                font-size: .85em;
                background: $btn_blue;
                margin-top: 5%;
                &:first-of-type {
                    margin-top: 0;
                }
                span.flr {
                    color: #fff;
                }
            }
            position: relative;
            width: 84%;
            @include border-radius(5px);
            color: #666;
            text-align: left;
            text-indent: 1em;
            margin: 0 auto 2%;
            font-size: .75em;
            border: 2px solid $btn_blue;
            height: 32px;
            line-height: 32px;
            &:last-of-type {
                margin-bottom: 10%;
            }
            &_select {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
            &_icon {
                height: 26px;
                vertical-align: middle;
            }
            &_btn {
                //width: 44px;
                height: 20px;
                padding:0 8px;
                line-height: 20px;
                background: $btn_blue;
                font-size:0.75rem;
                color: #fff;
                margin-left: 5px;
                @include border-radius(5px);
            }
            .flr {
                color: $btn_blue;
                float: right;
                margin-right: 1em;
                img {
                    width: 18px;
                    vertical-align: middle;
                }
            }
        }
    }
    /* finance all */
    @at-root .finance {
        &_item {
            position: relative;
            width: 100%;
            color: #666;
            text-align: left;
            text-indent: 1em;
            font-size: .85em;
            @include box-sizing(border-box);
            i {
                height: 21px;
                width: 22px;
                margin: -3px 3px 0 0;
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 100% auto;
                display: inline-block;
                vertical-align: middle;
            }
            .icon_down {
                display: inline-block;
            }
            .icon_up {
                display: none;
            }
            .flr {
                float: right;
                margin-right: 1em;
                img {
                    width: 18px;
                    vertical-align: middle;
                    margin-left: 1em;
                }
                span {
                    margin: 0 2em;
                    color: $font_red;
                    &:before {
                        content: "￥";
                        color: #666;
                    }
                }
            }
            &.active {
                .icon-finance-all {
                    background-image: image-url("icon_finance_active.jpg");
                }
                .icon_down {
                    display: none;
                }
                .icon_up {
                    display: inline-block;
                }
                .finance_title {
                    color: $btn_liteblue;
                    background: #e2f6ff;
                }
                .finance_cnt {
                    max-height: 600px;
                    transition: all .5s;
                }
            }
        }
        &_title,
        &_cnt_title {
            position: relative;
            z-index: 9;
            border-bottom: 1px solid #dedede;
            height: 43px;
            line-height: 43px;
        }
        &_cnt {
            background: #fff;
            @include box-sizing(border-box);
            margin-top: -36px;
            max-height: 0;
            overflow-y: hidden;
            width: 100%;
            transition: all .5s;
        }
    }
    /* task page */
    @at-root .task {
        &_nav {
            height: 34px;
            line-height: 34px;
            text-align: center;
            li {
                background: #fff;
                color: $btn_blue;
                border: 1px solid $btn_blue;
                @include box-sizing(border-box);
                position: relative;
                z-index: 999;
                @include text-shadow(1px 1px 1px #666);
                font-size: .9em;
                &.active {
                    background: $btn_blue;
                    color: #fff;
                }
            }
        }
        &_item {
            position: relative;
            width: 84%;
            @include border-radius(5px);
            color: #fff;
            text-align: left;
            text-indent: 1em;
            margin: 0 auto 5%;
            font-size: .9em;
            &:last-of-type {
                margin-bottom: 20%;
            }
            &.active .task_title {
                background: $btn_blue;
            }
            &.active .task_cnt {
                padding: 1em;
                max-height: 400px;
                transition: all .5s linear;
            }
        }
        &_title {
            position: relative;
            z-index: 9;
            background: $btn_blue;
            @include border-radius(5px);
            height: 36px;
            line-height: 36px;
            @include text-shadow(1px 1px 1px #666);
            .task_btn {
                float: right;
                margin-right: 1em;
                display: inline-block;
                background: #fff;
                height: 20px;
                line-height: 20px;
                margin-top: 8px;
                text-align: center;
                width: 50px;
                text-indent: 0;
                border-radius: 12px;
                box-shadow: 1px 1px 1px #666;
                color: $btn_blue;
                &:active {
                    color: #fff;
                    background: $btn_blue;
                }
            }
        }
        &_stars {
            display: inline-block;
            height: 20px;
            margin-top: 2px;
            float: right;
            margin-right: 1em;
            i {
                display: inline-block;
                width: 12px;
                height: 16px;
                margin: 0 1px;
                background: image-url("task_star.png") no-repeat center;
                background-size: contain;
            }
        }
        &_cnt {
            text-indent: 0;
            font-size: .8em;
            background: #fff;
            border: 1px solid $btn_blue;
            @include border-radius(5px);
            @include box-sizing(border-box);
            margin-top: -36px;
            padding: 0 1em;
            max-height: 0;
            overflow-y: hidden;
            width: 100%;
            transition: all .5s linear;
            label {
                display: block;
                color: $btn_liteblue;
                margin: 2px 0;
            }
            p {
                color: #666;
            }
        }
        &_bonus {
            display: inline-block;
            width: 38px;
            height: 50px;
            margin-right: 5px;
            color: #666;
            font-size: .82em;
            text-align: center;
            &_img {
                width: 36px;
                height: 36px;
                border: 1px solid $btn_liteblue;
                @include border-radius(4px);
                text-align: center;
                img {
                    height: 90%;
                    width: auto;
                    margin: 5%;
                }
            }
        }
    }
    /* vip page */
    @at-root .vip {
        &_item{
            /* margin-top:1px; */
            background: $btn_blue;
            &.active {
                .icon-finance-all {
                    background-image: image-url("icon_finance_active.jpg");
                }
                .icon_down {
                    display: none;
                }
                .icon_up {
                    display: inline-block;
                }
                .vip_title {
                    color: #fff;
                    background: $btn_blue;
                }
                .finance_cnt_title {
                    background: $btn_blue;
                    color:#fff;
                }
            }
        }
        /* &_item:first-child{
            margin-top:0;
        } */
        &_item:last-of-type{
            margin-bottom: 20px;
        }
        &_title {
            background: $btn_liteblue;
            color: $btn_blue;
            font-size: 1rem;
            border-top:1px solid $btn_blue;
            border-bottom:1px solid $btn_blue;
        }
        &_cnt_title{
            height:auto;
            line-height: 16px;
            background: $btn_liteblue;
            color:$btn_blue;
            padding: 6px 44px 12px;
            span{
                font-size:.8rem;
                display:block;
            }
        }
    }
    /* coupon page */
    @at-root .coupon_nav {
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #fff;
        li {
            background: $btn_liteblue;
            &.active {
                background: $btn_blue;
            }
        }
    }
    @at-root .coupon {
        width: 93.75%;
        height: 80px;
        @include box-sizing(border-box);
        padding: 6px;
        background: #7bd6fe;
        background-image: image-url("coupon_left.jpg"), image-url("coupon_right.jpg");
        background-repeat: no-repeat, no-repeat;
        background-position: top left, top right;
        background-size: auto 100%;
        margin: 0 auto 5%;
        color: #fff;
        text-align: center;
        h3 {
            display: inline-block;
            width: 13.33%;
            @include box-sizing(border-box);
            border-right: 1px solid #fff;
            line-height: 20.666px;
            font-weight: normal;
            float: left;
            padding: 3px 0;
            letter-spacing: 6px;
        }
        h2 {
            font-weight: normal;
            font-size: 2.25em;
            width: 80%;
            float: right;
            margin-right: 3%;
            border-bottom: 1px solid #fff;
        }
        p {
            font-size: .65em;
            width: 86.67%;
            float: right;
            height: 20px;
            line-height: 20px;
        }
    }
    &_coupon {
        background: #fff;
        display: none;
        &_used {
            .coupon {
                position: relative;
                background: #5697b2;
                background-image: image-url("coupon_left_used.jpg"), image-url("coupon_right_used.jpg");
                background-repeat: no-repeat, no-repeat;
                background-position: top left, top right;
                background-size: auto 100%;
                color: #b2b2b2;
                h2,
                h3 {
                    border-color: #b2b2b2;
                }
                &:after {
                    content: "已过期";
                    color: #fff;
                    font-size: 2.5em;
                    @include transform(rotateZ(-15deg));
                    width: 100%;
                    height: 80px;
                    line-height: 80px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}


/* 弹出层 */

.mask_layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    &_bg {
        background: #000;
        opacity: .5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.popup {
    opacity: 0;
    width: 230px;
    margin: 30% auto;
    background: #fff;
    @include border-radius(5px);
    @include box-shadow(0px 0px 5px #666);
    @include transition(all .5s);
    position: relative;
    &.active {
        margin-top: 40%;
        opacity: 1;
        @include transition(all .5s);
    }
    &_cnt {
        width: 230px;
        display: none;
        padding: 14px;
        @include box-sizing(border-box);
        p {
            margin: 0 6px;
            text-align: justify;
            color: $font_red;
            font-size: .9em;
        }
        @at-root .id_img {
            width: 84%;
            margin: 12px auto;
            text-align: center;
        }
        .pure-button {
            font-size: .95em;
            margin: 0 auto;
        }
    }
}


/* triangle */

.triangle-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid $btn_blue;
}

.triangle-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid $btn_blue;
    @include transition(all .5s linear);
    &.rotate {
        @include transition(all .5s);
        @include transform(rotateZ(-180deg));
    }
}

@media only screen and (orientation: landscape) {
    .popup {
        margin: 0% auto;
        &.active {
            margin-top: 2%;
        }
    }
}
