@charset "utf-8";
///*init*/
$font_color: #666;
$btn_blue: #0d8fdb;
$btn_liteblue: #44bbdb;
$font_red: #fe8f86;
@import "compass/css3";
@import "compass";
* {
    font-family: "Microsoft YaHei", Arial;
    color: $font_color;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//clear fix
.cf {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

input,
select,
textarea {
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}


/* header progress */

.header_progress {
    width: 84%;
    height: 50px;
    margin: 20px auto 0;
    position: relative;
}

.progress {
    &_2 {
        .progress_item {
            &:nth-child(2) {
                color: $btn_blue;
                span {
                    background: $btn_blue;
                }
            }
        }
    }
    &_3 {
        .progress_item {
            &:nth-child(2),
            &:nth-child(3) {
                color: $btn_blue;
                span {
                    background: $btn_blue;
                }
            }
        }
    }
    &_4 {
        .progress_item {
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                color: $btn_blue;
                span {
                    background: $btn_blue;
                }
            }
        }
    }
    &_bar {
        width: 98%;
        height: 6px;
        background-color: #ccc;
        position: absolute;
        top: 16px;
        border-radius: 4px;
        left: 1px;
        z-index: 1;
        &_current {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            background-color: $btn_blue;
            height: 100%;
        }
    }
    &_list {
        list-style: none;
        position: relative;
        z-index: 9;
    }
    &_item {
        width: 38px;
        height: 50px;
        float: left;
        font-size: 0.58rem;
        color: #ccc;
        &:first-child {
            margin: 0 !important;
            color: $btn_blue;
            span {
                background: $btn_blue;
            }
        }
        span {
            display: block;
            font-size: 1rem;
            background: #ccc;
            color: #fff;
            width: 38px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            @include border-radius(50%);
            margin-bottom: 5px;
        }
    }
}

.loan_main {
    //background: url(../img/理财信息确认.jpg) no-repeat center -65px;
    //background-size: 100% auto;
    text-align: center;
    width: 100%;
    &_img {
        width: 22%;
        margin: 30px auto 20px;
    }
    p {
        font-size: .8em;
    }
    >span {
        color: #fc9c69;
        font-size: 1.6em;
        line-height: 1.8em;
        display: block;
    }
    hr {
        height: 1px;
        border: none;
        border-top: 1px dashed #e4e4e4;
        width: 83%;
        margin: 35px auto 10px;
    }
    &_credit {
        color: #9b9b9b;
        margin-bottom: 50px;
        span {
            color: #0f8fda;
        }
    }
    &_btn {
        background: $btn_blue;
        border: 2px solid $btn_blue;
        padding: 0;
        color: #fff;
        height: 36px;
        line-height: 32px;
        display: block;
        width: 84%;
        border-radius: 5px;
        margin: 0 auto 12px;
        &_liteblue {
            background: $btn_liteblue;
            border: 2px solid $btn_liteblue;
        }
        &_hollow {
            background: #fff;
            color: $btn_blue;
        }
    }
    form {
        letter-spacing: normal;
        text-align: left;
        width: 88%;
        margin: 10px auto;
        p {
            font-size: 1em;
        }
        div {
            margin-top: 7px;
            line-height: 1.8em;
        }
        p.ft_red {
            margin: 6px 0;
        }
        .loan_main_btn {
            width: 100%;
        }
        .ft_xs {
            font-size: .7em;
            color: #bfbfbf;
            margin: 5px 3px 28px;
        }
        .ft_xxs {
            font-size: .65em;
            color: #bfbfbf;
            margin-bottom: 1.8em;
            width:100%;
        }
        label {
            font-size: .74em;
            &.lab_finance {
                margin-bottom: 1em;
            }
        }
        mark {
            background: transparent;
            font-size: .7em;
            color: $font_red;
            margin-bottom: 4px;
            width: 100%;
        }
    }
    &_table {
        border: 1px solid $btn_blue;
        border-radius: 5px;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        table {
            width: 100%;
            border-collapse: collapse;
            border: none;
        }
        thead {
            background: transparent;
        }
        th,
        td {
            padding: 0;
            text-align: center;
            border: none;
        }
        th {
            font-size: .9em;
            height: 30px;
            font-weight: normal;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            &:last-child {
                border-right: none;
            }
        }
        td {
            font-size: .8em;
            height: 44px;
            color: $font_red;
            border-right: 1px solid #ddd;
            &:last-child {
                border-right: none;
            }
        }
    }
    &_doubleInput {
        border: 1px solid #aaa;
        border-radius: 8px;
        width: 100%;
        margin: 12px 0 !important;
        div {
            margin: 0 !important;
            position: relative;
        }
        hr {
            height: 1px;
            border: none;
            border-top: 1px solid #e4e4e4;
            width: 98%;
            margin: 0 auto;
        }
        label {
            display: inline-block;
            float: left;
            font-size: .9em;
            font-weight: bold;
            margin: .4em 0 .2em .5em;
        }
        input {
            width: 83%;
            border: none !important;
            box-shadow: none !important;
            &.short_input {
                width: 53%;
            }
        }
        @at-root .identity_btn {
            background: $btn_blue;
            color: #fff;
            font-size: .74em;
            position: absolute;
            top: .4em;
            right: .5em;
        }
    }
    &_banks {
        margin: -20px 10px 40px !important;
    }
    &_instr {
        font-size: .72em;
        line-height: 1.7em;
        padding: 1em .3em;
        margin-top: 1.2em;
        dt {
            color: $btn_liteblue;
            margin-bottom: .25em;
            &:before {
                height: 8px;
                width: 8px;
                content: " ";
                background: $btn_blue;
                border-radius: 50%;
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
    &_comfirmA {
        font-size: 1.2em;
        letter-spacing: 1.2px;
        line-height: 1.4em;
        padding: .9em;
        padding-bottom: .5em;
        >span {
            color: #9b9b9b;
            font-size: .6em;
            line-height: 1.8em;
            display: block;
            margin: .3em 0 0 0;
        }
    }
    &_comfirmB {
        text-align: left;
        //width: 80%;
        padding: .5em 1.9em;
        line-height: 1.2em;
        label,
        span {
            color: #9b9b9b;
            font-size: .75em;
            margin: 0;
        }
        span:after {
            content: "";
            display: block;
        }
    }
    &_comfirmC {
        text-align: left;
        //width: 80%;
        padding: .5em 1.9em;
        ol {
            padding: .2em .8em;
        }
        li {
            list-style: none;
            font-size: .75em;
            margin: .4em 0;
            a {
                color: $btn_blue;
            }
        }
    }
    &_checkbox {
        font-size: .75em;
        color: #666;
        padding-left: 22px;
        background: url(../img/checkbox.jpg) no-repeat;
        background-position: 0px -14px;
        background-size: 14px 28px;
        height: 16px;
        line-height: 16px;
    }
    &_checkbox_on {
        background-position: 0px 0px;
    }
    /* loan match page start*/
    @at-root .loan_match {
        width: 84%;
        margin: 12px auto 70px;
        &_info {
            font-size: .71em;
            width: 17.5%;
            display: inline-block;
            dt {
                color: $btn_blue;
                margin: 10px auto;
            }
            span {
                color: $font_red;
                margin-top: 5px;
                display: inline-block;
            }
        }
        &_dots {
            width: 60%;
            margin: 10% auto;
            height: 36px;
            p {
                font-size: .71em;
                color: $btn_blue;
            }
            i {
                display: inline-block;
                width: 3.75%;
                border: 1px solid $btn_blue;
                margin: 0 .5px;
                @include box-sizing(border-box);
                @include border-radius(50%);
                &.active {
                    @include animation(dotAni 2s infinite);
                }
                @include keyframes(dotAni) {
                    0% {
                        background: $btn_blue;
                    }
                    30% {
                        background: $btn_blue;
                    }
                    70% {
                        background: #fff;
                    }
                    100% {
                        background: #fff;
                    }
                }
            }
        }
    }
    /* loan match page end*/
}


/* loan agreement */

.loan_agreement {
    width: 94%;
    margin: 18px auto;
    @include box-shadow(0px 0px 3px 3px #ccc);
    &_title {
        height: 38px;
        line-height: 38px;
        font-weight: bold;
        text-align: center;
        position: relative;
        font-size: 0.925rem;
        background: #eaeaea;
        border-bottom:2px solid #ddd;
        span {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 28px;
            height: 28px;
            line-height: 24px;
            font-size: 1.8em;
            border: 3px solid #fff;
            color: #fff;
            background: #a2a2a2;
            @include border-radius(50%);
            @include box-sizing(border-box);
        }
    }
    p {
        padding: 12px 8px;
        text-align: justify;
        font-size: 0.4em;
        line-height: 1.5em;
        text-indent: 2em;
    }
    &_footer {
        height: 38px;
        line-height: 38px;
        text-align: left;
        font-size: 0.7rem;
        background: #eaeaea;
        border-bottom:2px solid #ddd;
        text-indent:0.8em;
    }
}

//弹出层整体宽高
@mixin popup_width($w, $h) {
    width: $w;
    height: $h;
}


/* 弹出层 */

.mask_layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    &_bg {
        background: #000;
        opacity: .5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.popup {
    width: 230px;
    margin: 40% auto;
    background: #fff;
    @include border-radius(5px);
    @include box-shadow(0px 0px 5px #666);
    position: relative;
    &_cnt {
        width: 230px;
        padding: 14px;
        @include box-sizing(border-box);
        img {
            width: 24%;
        }
        p {
            margin: 0 0 10px 0;
            text-align: center;
            color: $font_red;
            font-size: .95em;
        }
        .pure-button {
            font-size: .95em;
            margin: 0 auto;
        }
        @at-root .popup_confirm {
            em {
                font-size: .95em;
                font-style: normal;
                display: block;
                margin: 0 5%;
                text-align: left;
                color: $btn_liteblue;
            }
            span {
                color: $font_red;
            }
            p {
                color: #999;
                margin: 5px 5%;
                text-align: left;
            }
            .pure-button {
                width: 40%;
                float: left;
                margin: 0 5%;
            }
        }
    }
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ft_red {
    color: $font_red;
}

.ft_xs {
    font-size: .7em;
}

.ft_md {
    font-size: .8em;
}

.input-u-1-9 {
    height: 32px;
    width: 90%;
    float: left;
    margin-right: 8px;
}

.pure-input-1,
.pure-u-1 select {
    height: 32px;
}

.pure-u-1 select {
    padding: .2em .3em;
    margin-bottom: .3em;
}

.span-croci {
    color: #fe8d53;
}

.span-liteblue {
    color: #81d7f0;
}

.pure-button.loan_main_btn.ab_bottom {
    position: absolute;
    bottom: 1.3em;
    left: 0;
    width: 88%;
    margin: 0 6%;
}

hr.hr-liteblue {
    margin: 0 auto;
    height: 2px;
    border: none;
    border-top: 2px dashed $btn_liteblue;
    width: 92%;
}

@media only screen and (orientation: landscape) {
    .popup {
        margin: 12% auto;
    }
    .pure-button.loan_main_btn.ab_bottom {
        position: static;
        margin: 1.3em auto;
    }
}

  @media screen and (min-width: 360px) {
     body{
        font-size:19px;
    }
  }

@media screen and (min-width: 560px) and (orientation: landscape) {
    body{
        font-size:20px;
    }
}